In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

In [2]:
import warnings

warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv(r"C:\Users\arjun\Downloads\archive (12)\Toddler Autism dataset July 2018.csv")
df

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,1050,0,0,0,0,0,0,0,0,0,1,24,1,f,White European,no,yes,family member,No
1050,1051,0,0,1,1,1,0,1,0,1,0,12,5,m,black,yes,no,family member,Yes
1051,1052,1,0,1,1,1,1,1,1,1,1,18,9,m,middle eastern,yes,no,family member,Yes
1052,1053,1,0,0,0,0,0,0,1,0,1,19,3,m,White European,no,yes,family member,No
1053,1054,1,1,0,0,1,1,0,1,1,0,24,6,m,asian,yes,yes,family member,Yes

In [4]:
df.info

<bound method DataFrame.info of       Case_No  A1  A2  A3  A4  A5  A6  A7  A8  A9  A10  Age_Mons  \
0           1   0   0   0   0   0   0   1   1   0    1        28
1           2   1   1   0   0   0   1   1   0   0    0        36
2           3   1   0   0   0   0   0   1   1   0    1        36
3           4   1   1   1   1   1   1   1   1   1    1        24
4           5   1   1   0   1   1   1   1   1   1    1        20
...       ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...       ...
1049     1050   0   0   0   0   0   0   0   0   0    1        24
1050     1051   0   0   1   1   1   0   1   0   1    0        12
1051     1052   1   0   1   1   1   1   1   1   1    1        18
1052     1053   1   0   0   0   0   0   0   1   0    1        19
1053     1054   1   1   0   0   1   1   0   1   1    0        24

      Qchat-10-Score Sex       Ethnicity Jaundice Family_mem_with_ASD  \
0                  3   f  middle eastern      yes                  no
1                  4   m  White European      yes                  no
2                  4   m  middle eastern      yes                  no
3                 10   m        Hispanic       no                  no
4                  9   f  White European       no                 yes
...              ...  ..             ...      ...                 ...
1049               1   f  White European       no                 yes
1050               5   m           black      yes                  no
1051               9   m  middle eastern      yes                  no
1052               3   m  White European       no                 yes
1053               6   m           asian      yes                 yes

     Who completed the test Class/ASD Traits
0             family member                No
1             family member               Yes
2             family member               Yes
3             family member               Yes
4             family member               Yes
...                     ...               ...
1049          family member                No
1050          family member               Yes
1051          family member               Yes
1052          family member                No
1053          family member               Yes

[1054 rows x 19 columns]>

In [5]:
print(df.isnull().sum())

Case_No                   0
A1                        0
A2                        0
A3                        0
A4                        0
A5                        0
A6                        0
A7                        0
A8                        0
A9                        0
A10                       0
Age_Mons                  0
Qchat-10-Score            0
Sex                       0
Ethnicity                 0
Jaundice                  0
Family_mem_with_ASD       0
Who completed the test    0
Class/ASD Traits          0
dtype: int64

In [6]:
len(df[df.duplicated()])

0

In [7]:
df.columns

Index(['Case_No', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10',
       'Age_Mons', 'Qchat-10-Score', 'Sex', 'Ethnicity', 'Jaundice',
       'Family_mem_with_ASD', 'Who completed the test', 'Class/ASD Traits '],
      dtype='object')

In [8]:
df1=df.drop(columns=['Qchat-10-Score'])
df1

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,f,middle eastern,yes,no,family member,No
1,2,1,1,0,0,0,1,1,0,0,0,36,m,White European,yes,no,family member,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,m,middle eastern,yes,no,family member,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,m,Hispanic,no,no,family member,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,f,White European,no,yes,family member,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,1050,0,0,0,0,0,0,0,0,0,1,24,f,White European,no,yes,family member,No
1050,1051,0,0,1,1,1,0,1,0,1,0,12,m,black,yes,no,family member,Yes
1051,1052,1,0,1,1,1,1,1,1,1,1,18,m,middle eastern,yes,no,family member,Yes
1052,1053,1,0,0,0,0,0,0,1,0,1,19,m,White European,no,yes,family member,No
1053,1054,1,1,0,0,1,1,0,1,1,0,24,m,asian,yes,yes,family member,Yes

In [9]:
label_enc = LabelEncoder()
df1["Ethnicity"] = label_enc.fit_transform(df["Ethnicity"])
df1["Who completed the test"] = label_enc.fit_transform(df["Who completed the test"])

In [10]:
df1

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,f,8,yes,no,4,No
1,2,1,1,0,0,0,1,1,0,0,0,36,m,5,yes,no,4,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,m,8,yes,no,4,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,m,0,no,no,4,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,f,5,no,yes,4,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,1050,0,0,0,0,0,0,0,0,0,1,24,f,5,no,yes,4,No
1050,1051,0,0,1,1,1,0,1,0,1,0,12,m,7,yes,no,4,Yes
1051,1052,1,0,1,1,1,1,1,1,1,1,18,m,8,yes,no,4,Yes
1052,1053,1,0,0,0,0,0,0,1,0,1,19,m,5,no,yes,4,No
1053,1054,1,1,0,0,1,1,0,1,1,0,24,m,6,yes,yes,4,Yes

In [11]:
le = LabelEncoder()
columns = [ 'Family_mem_with_ASD', 'Class/ASD Traits ', 'Sex', 'Jaundice']
for col in columns:
    df1[col] = le.fit_transform(df1[col])
df1.dtypes

Case_No                   int64
A1                        int64
A2                        int64
A3                        int64
A4                        int64
A5                        int64
A6                        int64
A7                        int64
A8                        int64
A9                        int64
A10                       int64
Age_Mons                  int64
Sex                       int32
Ethnicity                 int32
Jaundice                  int32
Family_mem_with_ASD       int32
Who completed the test    int32
Class/ASD Traits          int32
dtype: object

In [12]:
df1

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,0,8,1,0,4,0
1,2,1,1,0,0,0,1,1,0,0,0,36,1,5,1,0,4,1
2,3,1,0,0,0,0,0,1,1,0,1,36,1,8,1,0,4,1
3,4,1,1,1,1,1,1,1,1,1,1,24,1,0,0,0,4,1
4,5,1,1,0,1,1,1,1,1,1,1,20,0,5,0,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,1050,0,0,0,0,0,0,0,0,0,1,24,0,5,0,1,4,0
1050,1051,0,0,1,1,1,0,1,0,1,0,12,1,7,1,0,4,1
1051,1052,1,0,1,1,1,1,1,1,1,1,18,1,8,1,0,4,1
1052,1053,1,0,0,0,0,0,0,1,0,1,19,1,5,0,1,4,0
1053,1054,1,1,0,0,1,1,0,1,1,0,24,1,6,1,1,4,1

In [13]:
df2=df1.drop(columns=['Case_No'])
df2

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,0,8,1,0,4,0
1,1,1,0,0,0,1,1,0,0,0,36,1,5,1,0,4,1
2,1,0,0,0,0,0,1,1,0,1,36,1,8,1,0,4,1
3,1,1,1,1,1,1,1,1,1,1,24,1,0,0,0,4,1
4,1,1,0,1,1,1,1,1,1,1,20,0,5,0,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,24,0,5,0,1,4,0
1050,0,0,1,1,1,0,1,0,1,0,12,1,7,1,0,4,1
1051,1,0,1,1,1,1,1,1,1,1,18,1,8,1,0,4,1
1052,1,0,0,0,0,0,0,1,0,1,19,1,5,0,1,4,0
1053,1,1,0,0,1,1,0,1,1,0,24,1,6,1,1,4,1

In [14]:
df2.corr()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
A1,1.000000,0.463227,0.244362,0.247524,0.284808,0.373083,0.332705,0.208197,0.322226,0.130966,0.040508,0.111508,-0.090162,-0.005613,0.053020,-0.053269,0.503810
A2,0.463227,1.000000,0.206927,0.265867,0.259105,0.309461,0.294314,0.251865,0.268784,0.157498,0.037744,0.067086,-0.043091,0.046039,0.034800,-0.025947,0.463467
A3,0.244362,0.206927,1.000000,0.547100,0.349086,0.297719,0.211375,0.243758,0.379129,0.003848,-0.109880,0.063299,-0.071255,-0.006874,0.040913,-0.001329,0.409701
A4,0.247524,0.265867,0.547100,1.000000,0.348459,0.347693,0.318546,0.251504,0.427683,0.016872,-0.087873,0.105087,-0.058123,0.027464,-0.036625,0.014817,0.505204
A5,0.284808,0.259105,0.349086,0.348459,1.000000,0.415309,0.348913,0.316661,0.441892,0.045347,0.018448,0.129724,-0.067438,0.025135,-0.021662,-0.004501,0.563297
A6,0.373083,0.309461,0.297719,0.347693,0.415309,1.000000,0.361758,0.280556,0.416213,0.072162,0.065907,0.025144,-0.160172,-0.004882,0.046654,-0.036636,0.569424
A7,0.332705,0.294314,0.211375,0.318546,0.348913,0.361758,1.000000,0.257228,0.360686,0.175114,0.021442,0.044680,-0.116093,0.048327,-0.024248,0.036196,0.563177
A8,0.208197,0.251865,0.243758,0.251504,0.316661,0.280556,0.257228,1.000000,0.293457,0.082004,0.080505,0.076609,-0.061614,0.003202,-0.036569,-0.045953,0.427155
A9,0.322226,0.268784,0.379129,0.427683,0.441892,0.416213,0.360686,0.293457,1.000000,0.028710,-0.048650,0.087463,-0.063800,0.012801,-0.011486,0.006639,0.577336
A10,0.130966,0.157498,0.003848,0.016872,0.045347,0.072162,0.175114,0.082004,0.028710,1.000000,-0.013021,-0.050145,-0.036344,0.026521,0.006927,-0.036307,0.179833
Age_Mons,0.040508,0.037744,-0.109880,-0.087873,0.018448,0.065907,0.021442,0.080505,-0.048650,-0.013021,1.000000,0.128840,-0.063808,-0.042372,0.032851,-0.002059,0.066831
Sex,0.111508,0.067086,0.063299,0.105087,0.129724,0.025144,0.044680,0.076609,0.087463,-0.050145,0.128840,1.000000,-0.062608,0.037840,0.058686,-0.060131,0.117664
Ethnicity,-0.090162,-0.043091,-0.071255,-0.058123,-0.067438,-0.160172,-0.116093,-0.061614,-0.063800,-0.036344,-0.063808,-0.062608,1.000000,-0.012844,-0.084588,-0.018766,-0.146357
Jaundice,-0.005613,0.046039,-0.006874,0.027464,0.025135,-0.004882,0.048327,0.003202,0.012801,0.026521,-0.042372,0.037840,-0.012844,1.000000,0.078427,0.040157,0.074060
Family_mem_with_ASD,0.053020,0.034800,0.040913,-0.036625,-0.021662,0.046654,-0.024248,-0.036569,-0.011486,0.006927,0.032851,0.058686,-0.084588,0.078427,1.000000,-0.018085,-0.013503
Who completed the test,-0.053269,-0.025947,-0.001329,0.014817,-0.004501,-0.036636,0.036196,-0.045953,0.006639,-0.036307,-0.002059,-0.060131,-0.018766,0.040157,-0.018085,1.000000,-0.010993
Class/ASD Traits,0.503810,0.463467,0.409701,0.505204,0.563297,0.569424,0.563177,0.427155,0.577336,0.179833,0.066831,0.117664,-0.146357,0.074060,-0.013503,-0.010993,1.000000

In [15]:
df3=df2.drop(columns=['Who completed the test'])
df3

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,0,8,1,0,0
1,1,1,0,0,0,1,1,0,0,0,36,1,5,1,0,1
2,1,0,0,0,0,0,1,1,0,1,36,1,8,1,0,1
3,1,1,1,1,1,1,1,1,1,1,24,1,0,0,0,1
4,1,1,0,1,1,1,1,1,1,1,20,0,5,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,0,0,0,0,0,0,0,0,0,1,24,0,5,0,1,0
1050,0,0,1,1,1,0,1,0,1,0,12,1,7,1,0,1
1051,1,0,1,1,1,1,1,1,1,1,18,1,8,1,0,1
1052,1,0,0,0,0,0,0,1,0,1,19,1,5,0,1,0
1053,1,1,0,0,1,1,0,1,1,0,24,1,6,1,1,1

In [16]:
X=df3.iloc[:,:-1]
y=df3.iloc[:,-1]

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

In [18]:
X_train.shape

(737, 15)

In [19]:
X_test.shape

(317, 15)

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
logi=LogisticRegression(fit_intercept=True,max_iter=10000)
logi.fit(X_train,y_train)

LogisticRegression(max_iter=10000)

In [22]:
y_pred_logi=logi.predict(X_test)

In [23]:

print(accuracy_score(y_pred_logi,y_test))

1.0

In [24]:
confusion_matrix(y_test,y_pred_logi)

array([[ 98,   0],
       [  0, 219]], dtype=int64)

In [25]:
import numpy as np
fe=np.array([[0,0,1,0,0,0,0,0,1,0,48,0,2,0,0]])
print(logi.predict(fe))

[0]

In [26]:
import joblib
joblib.dump(logi, 'autism_model.pkl')

['autism_model.pkl']

In [27]:
import joblib

In [28]:
model = joblib.load('autism_model.pkl')
pred=model.predict([[0,0,1,0,0,0,0,0,1,0,48,0,2,0,0]])

In [29]:
pred

array([0])